header{
  font-weight: bold;
  font-family: cursive;
  color: #FFFFFF;
  text-align: center;
}
body{
  color: #FFFFFF;
  min-height: 100%;
}
h3{
  font-weight: bold;
  font-family: Perpetua;
  text-decoration: underline;
}
nav{
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
nav a{
    text-decoration: none;
    padding: 0px 60px 0px 60px;
}
nav a:hover{
  border-style: double;
  border-width: medium;
  border-radius: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: #2F4F4F;
  background-color: #FFFFFF;
  color: #1919FF;
}
footer{
  align-self: center;
  text-align: center;
  color: #7F7FFF;
  background-color: #000000;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
a{
  color: #FFFFFF;
}
#email{
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
}
#email:hover{
  color: green;
  border-style: groove;
  border-color: turquoise;
  padding: 0px 10px 0px 10px;
  background: #FFFFFF;
}
dt{
  font-style: italic;
  font-family: papyrus;
}
ul{
  columns: 2;
  list-style-type: none;
}
/*Classes defined for each individual page*/
.page1{
background-image: url("background/girl.png");
}
.page2{
  background-image: url("background/gray.jpg");
}
.page3{
  background-image: url("background/gray.jpg");
}
.page4{
  background-image: url("background/gray.jpg");
}
.social{
  padding: 10px 10px 10px 10px;
}
.mid{
  text-align: center;
}
