@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', serif;
  color: #000000;
  background-color: #FFF;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', Helvetica;
}

header {
  margin-top: 4.0em;
  background-color: #bb2;
}

main {
  margin-bottom: 1em;
  background-color: #bb2;
  padding: 1.5em;
}

footer {
  text-align: center;
  padding: 0.5em;
  background-color: #000;
  color:#FFF;
}

ul {
  columns: 2;
  list-style-type: none;
}

#Codepen{
  background-color: #000000;
  color: #FFFFFF;
}

#Linkedin{
  background-color: #FFF;
  color: #0077B5;
}

#Handshake{
  background-color: #FFF;
  color: #FFDF00;
}

#Github{
  background-color: #333;
  color: #FFF;
}