html {
    position: relative;
    min-height: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 10px;
  background-image: url('background/gray.jpg');
  margin: 0 0 100px;
}

header{
  font-weight: bold;
  text-align: center;
  color: white;
}
h1,h2{

}
h3{
  font-weight: bold;
  text-decoration: underline;
}

nav{
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav a{
    text-decoration: none;
    padding: 0px 60px 0px 60px;
}

nav a:hover{
  border-style: double;
  border-width: medium;
  border-radius: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: #2F4F4F;
  background-color: #FFFFFF;
  color: #1919FF;
}
main{
    color: white;
    margin-bottom: 30px;
    position: relative;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  align-self: center;
  text-align: center;
  color: #7F7FFF;
  background-color: #000000;
  padding: 10px;
}

a{
  color: #FFFFFF;
}

#email{
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
}

#email:hover{
  color: green;
  border-style: groove;
  border-color: turquoise;
  padding: 0px 10px 0px 10px;
  background: #FFFFFF;
}

dt{
  font-style: italic;
}

ul{
  columns: 2;
  list-style-type: none;
}

dt,dd{
    margin: 5px;
}

.social{
  padding: 10px 10px 10px 10px;
}

.mid{
  text-align: center;
}
