.siteLinks {
  list-style-type: none;
}

.siteLinks>li {
  padding: 20px;
}

.navContainer {
  margin: 20px;
}

.logoImage{
      width: 32px;
}

.logoWrapper{
      list-style-type: none;
      column-count: 2;
}
