body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 10px 10px 0 10px;
  background-image: url('img/gray.jpg');
  overflow-x: hidden;
}
.nav-bar {
  background-color: #C0C0C0;
  color: #F349;
  font-weight: bold;
  width: 100%;
  padding: 0.5em;
}
.grid1 {
  display: inline;
  margin: 22px;
}
.main-link {
  color: #000;
  text-decoration: none;
}
header {
  margin-top: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px #969659;
  background: url('img/cloud.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
}
article > h2,
div > h2 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
/*nav {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav a {
    text-decoration: none;
    padding: 0px 60px 0px 60px;
}

nav a:hover {
  border-style: double;
  border-width: medium;
  border-radius: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: #2F4F4F;
  background-color: #FFFFFF;
  color: #1919FF;
}*/
main {
  color: white;
  margin-bottom: 30px;
  /*position: relative;*/
}
footer {
  /*height: 80px;
  width: 100%;
  align-self: center;*/
  text-align: center;
  color: #000;
  background-color: #d7ffd9;
  padding: 5px;
}
a {
  color: #000000;
}
#email {
  text-decoration: none;
  font-weight: bold;
}
#email:hover {
  color: green;
  border-style: groove;
  border-color: turquoise;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  background: #FFFFFF;
}
dt {
  font-style: italic;
}
ul {
  columns: 2;
  list-style-type: none;
}
dt,
dd {
  margin: 5px;
}
.social {
  padding: 10px 10px 10px 10px;
}
.mid {
  text-align: center;
}
i .fa fa-angle-double-down fa-5x {
  display: block;
  text-align: center;
}
.about {
  text-align: center;
}
li {
  padding: 4px;
  margin: 2px;
}
span .fa-chevron-up:hover {
  background-color: gray;
  color: blue;
  border: 2px white solid;
}
.up-button {
  background-color: teal;
  color: #FFF;
}
.codepen {
  background-color: #000000;
  color: #FFFFFF;
}
.github {
  background-color: #333;
  color: #FFF;
}
.linkedin {
  background-color: #FFF;
  color: #0077B5;
}
.twitter {
  background-color: #1da1f2;
  color: #FFFFFF;
}
.projects {
  background-image: url('img/black-sky.jpg');
}
.employment {
  background-image: url('img/sunset.jpg');
  /* just a test */
}
