body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 10px;
  background-image: url('img/gray.jpg');
  margin: 0 0 100px;
  overflow-x: hidden;
}

header {
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(150, 150, 89, 1);
  background: url('img/pure.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
}

h3 {
  font-weight: bold;
  text-decoration: underline;
}

nav {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav a {
    text-decoration: none;
    padding: 0px 60px 0px 60px;
}

nav a:hover {
  border-style: double;
  border-width: medium;
  border-radius: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: #2F4F4F;
  background-color: #FFFFFF;
  color: #1919FF;
}

main {
    color: white;
    margin-bottom: 30px;
    position: relative;
}

footer {
  height: 60px;
  width: 100%;
  align-self: center;
  text-align: center;
  color: #7F7FFF;
  background-color: #000000;
  padding: 10px;
}

a {
  color: #FFFFFF;
}

#email {
  text-decoration: none;
  font-weight: bold;
}

#email:hover {
  color: green;
  border-style: groove;
  border-color: turquoise;
  padding: 0px 10px 0px 10px;
  background: #FFFFFF;
}

dt {
  font-style: italic;
}

ul {
  columns: 2;
  list-style-type: none;
}

dt,dd {
    margin: 5px;
}

.social {
  padding: 10px 10px 10px 10px;
}

.mid {
  text-align: center;
}

i .fa fa-angle-double-down fa-5x{
  display: block;
  text-align:center;
}

.spacer {
  height: 70vh;
  /*border: 2px solid white;*/
}

.about {
  text-align: center;
}

li {
  padding: 4px;
  margin: 2px;
}
